body {
  background: linear-gradient(#fff, #eefbff);
  min-height: 100vh;
}

h1 {
  font-size: 56px;
  font-family: "Fasthand", sans-serif;
  background: -webkit-linear-gradient(45deg, #0ed100, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 16px;
}

.save-btn {
  border: none;
  border-radius: 0;
  font-weight: 600;
}
